body {
  background-color: #050606;
  color: #fdfdfd;
}
.line {
  background-color: #fdfdfd;
  padding: 1px;
  margin: auto;
  width: 100%;
}
a {
  text-decoration: none;
  color: #a8bbb0;
  padding: 12px;
  font-size: 30px;
}
a:hover {
  color: #fdfdfd;
}
.active {
 color: rgb(29 78 216 );
}
h1 {
  text-align: center;
  font-size: 50px;
}
.info {
  font-size: 32px;
  background-color: #fdfdfd;
  padding: 22px;
  color: black;
  border: transparent;
  border-radius: 25px;
}
.logo {
  margin: auto;
  width: 50%;
  display: block;
  max-width: 600px;
}
.resume {
  margin: auto;
  width: 50%;
  display: block;
  max-width: 600px;
  border-radius: 25px;
}
.resume:hover {
  transform: scale(1.02);
  transition: 1s;
}
.social-icons {
  margin: 20px 0;
}
.social-icons a {
  text-decoration: none;
  font-size: 26px;
  color: white;
  margin: 0 10px;
  transition: color 0.3s, transform 0.3s;
}
.social-icons a:hover {
  color: black;
  transform: scale(1.2);
}
.card {
  background: rgb(29 78 216 );
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 20px;
  transition: transform 0.4s;
  text-align: center;
  color: black;
}
.card:hover {
  transform: translateY(-5px) scale(1.02);
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card h1 {
  font-size: 28px;
  margin: 20px 0 5px 0;
}
.title {
  color: black;
  font-size: 18px;
  margin-bottom: 5px;
}
.card p {
  font-size: 16px;
  margin: 10px 0;
}
.projects img {
  max-width: 300px;
  cursor: pointer;
}
.projects img:hover {
  transform: scale(1.02);
}
.contactbtn {
  color: white;
  border: 2px solid black;
  background-color: black;
  border-radius: 50px;
  padding: 6px;
}